<nav
    id="mainNav"
    class="navbar {{ this.theme.menu_transparent ? 'navbar-default' : 'navbar-inverse' }} navbar-fixed-top"
>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ this.theme.site_title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% partial 'modules/nav-items.htm' %}
            </ul>
        </div>
    </div>
</nav>
