description = "Default layout"
==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.description }}">

    <title>{% if this.page.title %}{{ this.page.title}} &#124; {% endif %}{{ this.theme.site_title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css' | theme }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ 'assets/vendor/fontawesome-free/css/all.min.css' | theme }}" rel="stylesheet">
    <link href="{{ 'assets/vendor/simple-line-icons/css/simple-line-icons.css' | theme }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="{{ 'assets/device-mockups/device-mockups.min.css' | theme }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ 'assets/css/new-age.min.css' | theme }}" rel="stylesheet">
    {% styles %}

</head>

<body id="page-top">

{% partial 'modules/nav' %}
{% page %}
{% partial 'modules/footer' %}

<script src="{{ 'assets/vendor/jquery/jquery.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/jquery-easing/jquery.easing.min.js' | theme }}"></script>
<script src="{{ 'assets/js/new-age.min.js' | theme }}"></script>
{% scripts %}

</body>
</html>
