description = "Default layout"
==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.description }}">

    <title>{% if this.page.title %}{{ this.page.title}} &#124; {% endif %}{{ this.theme.site_title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css' | theme }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.min.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/simple-line-icons/css/simple-line-icons.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/device-mockups/device-mockups.min.css' | theme }}">

    <!-- Theme CSS -->
    <link href="{{ 'assets/css/new-age.min.css' | theme }}" rel="stylesheet">
    {% styles %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

{% partial 'modules/nav' %}
{% page %}
{% partial 'modules/footer' %}

<script src="{{ 'assets/vendor/jquery/jquery.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.easing.min.js' | theme }}"></script>
<script src="{{ 'assets/js/new-age.min.js' | theme }}"></script>
{% scripts %}

</body>
</html>
