<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>{{ this.theme.contact_headline | raw }}</h2>
        {% if this.theme.contact_content %}
        <p>
            {{ this.theme.contact_content | raw }}
        </p>
        {% endif %}
        <ul class="list-inline list-social">
            {% if this.theme.contact_twitter %}
            <li class="list-inline-item social-twitter">
                <a href="{{ this.theme.contact_twitter }}">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            {% endif %}
            {% if this.theme.contact_facebook %}
            <li class="list-inline-item social-facebook">
                <a href="{{ this.theme.contact_facebook }}">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            {% endif %}
            {% if this.theme.contact_google %}
            <li class="list-inline-item social-google-plus">
                <a href="{{ this.theme.contact_google }}">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</section>
