<section class="download bg-primary text-center" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="section-heading">
                    {{ this.theme.download_headline | raw }}
                </h2>
                {{ this.theme.download_content | raw }}
                <div class="badges">
                    {% if this.theme.download_google_link %}
                    <a class="badge-link" href="{{ this.theme.download_google_link }}">
                        <img src="{{ 'assets/img/google-play-badge.svg' | theme }}" alt="Google Play link">
                    </a>
                    {% endif %}
                    {% if this.theme.download_appstore_link %}
                    <a class="badge-link" href="{{ this.theme.download_appstore_link }}">
                        <img src="{{ 'assets/img/app-store-badge.svg' | theme }}" alt="App Store link">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
